/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    --main-color: #e3e8e4;
    --primary-color: #363636;
    --main-font: "Playfair Display", serif;
}

/* Nav */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    padding: 10px;
}

ul li {
    display: inline;
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: #000;
    margin-left: 4rem;
}

ul li a:hover {
    border-bottom: 2px solid var(--primary-color);
}

.btn-fill {
    padding: 10px 30px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 100px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 9px #999;
    transition: background-color 0.5s ease-in, transform 0.2s ease;
}

.btn-fill:hover {
    background-color: rgb(120, 67, 41);
}

.btn-fill:active {
    background-color: rgb(120, 67, 41);
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}

/* Header */
.btn-outline {
    background-color: transparent;
    padding: 10px 20px;
    border: 2px solid var(--primary-color);
    border-radius: 100px;
    margin-left: 20px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 9px #999;
    transition: background-color 0.5s ease-in, transform 0.2s ease;
}
.btn-outline:hover {
    background-color: rgb(120, 67, 41);
    color: #fff;
}

.btn-outline:active {
    background-color: rgb(120, 67, 41);
    color: #fff;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}

header {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.content-container {
    margin-left: 6rem;
}

.main-headings {
    font-size: rem;
    font-family: var(--main-font);
    font-weight: 200;
    color: #00004f;
    margin-bottom: 2rem;
}

.main-headings span {
    color: #000;
    font-weight: bold;
}

.primary-heading {
    max-width: 500px;
    font-family: sans-serif;
    line-height: 25px;
    margin-bottom: 2rem;
}

.img-container {
    width: 500px;
    height: 500px;
    background-color: var(--main-color);
    border-radius: 100%;
}

.img-container img {
    width: 400px;
    height: 500px;
    margin-left: 20px;
    margin-bottom: 40px;
}

/* Popularity */
.popularity {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.popularity div {
    margin-right: 5rem;
}

.popularity div h1 {
    font-size: 3rem;
    text-align: center;
    color: #34343e;
    font-family: var(--main-font);
}

.popularity div p {
    color:#34343e;
    font-family: sans-serif;
}

/* Products */
.products-heading {
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 5rem;
    font-size: 4rem;
    color: #0000004f;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.product .product-img-layer {
    background-color: var(--main-color);
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    padding: 20px;
}

.product .product-img-layer .img {
    width: 200px;
    height: 200px;
}

.product .product-img-layer .img-one {
    background-image: url(images/chair2.avif);
    background-size: cover;
    background-position: center;
}

.product .product-img-layer .img-two {
    background-image: url(images/chair1.avif);
    background-size: cover;
    background-position: center;
}

.product .product-img-layer .img-three {
    background-image: url(images/chair3--BRUNO-CERVERA.avif);
    background-size: cover;
    background-position: center;
}

.product-content {
    background-color: var(--primary-color);
    padding: 27px;
    padding-bottom: 50px;
    text-align: center;
    color: #fff;
}

.product-content .product-name {
    font-family: sans-serif;
    margin-bottom: 10px;
}

.btn-container {
    text-align: center;
}

.btn-container button {
    border: none;
    background-color: transparent;
    font-size: 2rem;
    cursor: pointer;
    margin: 0 auto;
    margin-left: 20px;
    margin-top: 20px;
}

/* Why Us */
.why-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10rem;
}

.why-us .img-layer {
    width: 400px;
    height: 400px;
    background-color: var(--main-color);
    border-radius: 100%;
}

.why-us .img-layer .img {
    width: 300px;
    height: 300px;
    background-image: url(images/chair4--Eugene-Chystiakov.avif);
    background-size: cover;
    background-position: center;
}

.cards {
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.card {
    width: 200px;
    height: 150px;
    padding: 20px;
    margin-top: 40px;
    border-radius: 5px;
}

.card.card-fill {
    background-color: #e3e8e490;
    position: relative;
}

.card.card-fill .star {
    width:10px;
    height: 10px;
    padding: 15px;
    border-radius: 100%;
    background-color: var(--primary-color);
    position: absolute;
    top: -15px;
    left: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #fff;
}

.card h1 {
    color: #000;
    font-family: sans-serif;
    font-size: 17px;
}

.card p {
    color: #999;
    font-family: sans-serif;
    font-size: 12px;
    margin-top: 20px;
}

/* Features */
.features {
    margin-top: 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.main-headings {
    font-size: 4rem;
    font-family: var(--main-font);
    color: #0000004f;
    margin-bottom: 20px;
}

.main-headings span {
    color: #000;
}

.primary-headings {
    max-width: 500px;
    font-family: sans-serif;
}

.features .img-container {
    width: 300px;
    height: 350px;
    background-color: var(--main-color);
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
}

.features .img-container img {
    width: 350px;
    height: 450px;
}